  
html, body, input, label, select, textarea {
      font-size: 1.05em;
 }

img {
    float: left;
    margin: 10px 30px 10px 10px;

}

label {
        font-size: medium;
        font-family: Tahoma;
    }

 p {
        font-size: medium;
        font-family: Tahoma;
    }