 


<table style="width:100%;border:solid;">
    <tr>
        <td>
            <div ng-controller="datatableController as myTable">
                <div ng-show="pleaseAct">
                    No merge has been performed
                </div>

                <div ng-hide="pleaseAct">
                    <table>
                        <tr>
                            <td>{{matched}} matched check numbers.</td>
                        </tr>
                        <tr>
                            <td>{{unmatched}} unmatched check numbers.</td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr><td>Unmatched checks:</td></tr>
                    </table>

                    <table datatable="" dt-options="myTable.dtOptions" dt-columns="myTable.dtColumns" class="table table-striped table-bordered"></table>
                </div>
            </div>
        </td>
    </tr>
</table>